@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Redressed&family=Varela+Round&display=swap');

/*Diseño Pagina Index*/
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

.navbar
{
    display: flex;
    flex-direction: row;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14vw;
    padding-right: 14vw;
    margin-bottom: 0px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px
}    

.menu-rewards
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 30vw;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

.tienda-acceso
{
    display: flex;
    justify-content: right;
    align-items: center;
}

nav img 
{
    width: 50px;
    height: 50px;
    margin-right: 35px;
}

#ubi
{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#text-right
{
    margin-right: 30px;
    font-weight: bold;
}

#text-left
{
    margin-right: -40px;
    width: 150px;
}

.container img
{
    width: 40vw;
    height: auto;
}

.container
{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom:30px ;  
    justify-content: center;
    align-items: center;
}

.container-starbucks{
    padding: 7%;
    text-align: center;
    font-size: 13.8px;
    color: white;
}

#container-green{
    background-color: #1e3932;
    box-shadow: 0px -6px 5px -5px rgba(0, 0, 0, 0.3);
}

#container-blue{
    background-color: #0044b4;
    flex-direction: row-reverse;
}

#container-red{
    background-color: #d50032;
}

#container-green2{
    background-color: #1e3932;
    flex-direction: row-reverse;
}

.container2
{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom:30px ;  
    justify-content: space-between;
    align-items: center;
    
}

.container2 img
{
    width: 36.5vw;
    height: auto;
}

#sub-container1{
    text-align: center;
    font-size: 13.8px;
    color: #d50032;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 191, 217);
    height: 40vw;
}

#sub-container2{
    text-align: center;
    font-size: 13.8px;
    color: #04204b;
    display: flex;
    flex-direction: column;
    background-color: rgb(152, 205, 228);
    height: 40vw;
}

.container3{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom:50px ;  
    justify-content:left;
    align-items: left;
    box-shadow: 0px -6px 5px -5px rgba(0, 0, 0, 0.3);
}

.linea-horizontal{
    display: flex;
    border-top: 1px solid #e8eaee;
    width: 1200px;
    margin-bottom: 13px;
}

.Redes-Sociales{
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content:center;
    margin-bottom:30px ;
    align-items: center;
}

.bi-facebook{
    margin-right: 30px;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.bi-instagram{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.bi-twitter-x{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.bi-youtube{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.Avisos{
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: center;
    margin-bottom:30px ; 
    align-items: center;
}

a
{
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px;   
}

a:hover
{
    font-family: sans-serif;
    font-weight: bold;
    color: #03482a;
    border: none;
    border-radius: 5px;
}

#login-button
{
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    border: 5;
    border-color: black;
    width: 7vw;
    height: 4vh;
    border-radius: 50px;
}

#login-button:hover
{
    background-color: rgba(255, 255, 255, 0.679);
    border: 5;
    border-color: black;
    width: 7vw;
    height: 4vh;
    margin-right: 30px;
    border-radius: 50px;
}

#register-button
{
    background-color: rgba(23, 17, 17, 0.881);
    width: 7vw;
    height: 4vh;
    margin: auto;
    border-radius: 50px;
}

#register-button:hover
{
    background-color: rgba(5, 3, 37, 0.729);
    width: 7vw;
    height: 4vh;
    margin: auto;
    border-radius: 50px;
}

#vasos-button
{
    background-color: #d50032;
    color: white;
    border: 5;
    border-color: white;
    width: 8vw;
    height: 5vh;
    margin: auto;
    border-radius: 50px;
}

#vasos-button:hover
{
    background-color: #dc738b;
    color: white;
    border: 5;
    border-color: white;
    width: 8vw;
    height: 5vh;
    margin: auto;
    border-radius: 50px;
}

#Noticias-button{
    background-color: rgb(246, 191, 217);
    border-color: #d50032;
    width: 4vw;
    height: 3vh;
    margin: auto;
    border-radius: 50px;
}

#TyC-button{
    background-color: rgb(152, 205, 228);
    border-color: #04204b;
    width: 6vw;
    height: 3vh;
    margin: auto;
    border-radius: 50px;
}

#únete-link
{
    color: white;
}

#conoce-link
{
    color: white;
}

#Aquí-link
{
    color: #d50032;
}

#Ver-mas-link
{
    color: #04204b;
}

ul{
    list-style: none;
}

h3{
    margin-left: 21%;
    font-size: 105%;
    font-weight: 500;
}

.container3 a{
    font-weight: 500;
    font-family: sans-serif;
    color: gray;
    text-decoration: none;  
}

.container3 a:hover{
    font-weight: 500;
    font-family: sans-serif;
    color: black;  
}

.Avisos a{
    font-weight: 100;
    color: gray;
    margin: 1%
}

.Avisos p{
    color: gray;
}

.Avisos a:hover{
    font-weight: 100;
    color: rgba(21, 2, 2, 0.484);
    margin: 1%
}

.bi-instagram:hover {
    background-color: #00000053;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.bi-facebook:hover {
    background-color: white;
    margin-right: 30px;
    font-size: 30px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color:#00000053;
    ;
}

.bi-twitter-x:hover {
    background-color: #00000053;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

.bi-youtube:hover {
    background-color: #00000053;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 30px;
}

#footer1{
    font-size: 15px;
    justify-content: center;
    margin-bottom: 0%;
    color: gray;
}

#footer2{
    font-size: 10px;
    margin-left: 10%;
    color: gray;
    margin-top: 0%;
}

#Sobre-Nosotros{
    margin-left: 8vw;
    margin-top: 2vw;
}

#Atención-Cliente{
    margin-top: 2vw;
    width: 20vw;
}

#Atención-Cliente h3{
    margin-left: 2.5vw;
}

/*Diseño Pagina Rewards*/
.navbarRW
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    background: white;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 14vw;
    padding-right: 14vw;
    margin-bottom: 0px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px
}  

.container2-RW
{
    display: flex;
    flex-direction: row;
    margin-bottom:30px;  
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    height: calc(100vh - 50px);
    
}

#sub-container1-RW{
    position: fixed;
    top: 1;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13.8px;
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    height: 100vh;
    width: 35vw;
    margin: 0;
    padding: 50px;
}

#sub-container2-RW{
    text-align: center;
    font-size: 13.8px;
    color: #04204b;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    margin-left: 49vw;
    margin-top: 75px;
    width: calc(100vw - 25vw); /* Ocupa el espacio restante */
    margin-right: 0;
}

#text-left-2
{
    margin-right: 0px;
    width: 150px;
}

#Botones-RW{
    display: flex;
    flex-direction: row;
}

.container3-RW{
    width: calc(100vw - 35vw);
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom:50px ;  
    justify-content:left;
    align-items: left;
    text-align: left;
    margin-left: 4vw;
    box-shadow: 0px -6px 5px -5px rgba(0, 0, 0, 0.3);
}

.container-IMG-1{
    width: calc(100vw - 30vw);
    justify-content: center;
    color: black;
}

.linea-horizontal-RW{
    display: flex;
    border-top: 1px solid #e8eaee;
    width: calc(100vw - 35vw);
    margin-bottom: 13px;
}

.Redes-Sociales-RW{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 30vw);
    justify-content:center;
    margin-bottom:30px ;
    align-items: center;
}

.Avisos-RW{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 30vw);
    justify-content: center;
    margin-bottom:30px ; 
    align-items: center;
}

.Avisos-RW a{
    font-weight: 100;
    color: gray;
    margin: 1%
}

.Avisos-RW p{
    color: gray;
}

#footer1-RW{
    font-size: 10px;
    color: gray;
    width: calc(100vw - 30vw);
}

.footer-RW{
    width: calc(100vw - 50vw);
    margin: 0;
}

.container3-RW a{
    font-weight: 550;
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
}

.container3-RW a:hover{
    font-weight: 550;
    font-family: sans-serif;
    color: black;  
}

.container3-RW h3{
    color: black;
    font-size: 15px;
}

#Sobre-Nosotros-RW li{
    justify-content: left;
}

#Atención-Cliente-RW li{
    justify-content: left;
}

#Title-1, #Title-3, #Title-4{
    font-size: 20px;
}

.IMG-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.IMG-1 img{
    width: 150px;
    margin-left: 20px;
}

.Text-IMG-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 200px;
    font-weight: 500;
    font-size: 15px;
}

#SBRW{
    width: 300px;
    margin-bottom: -20px;
    margin-top: 150px;
}

#sub-container1-RW p{
    font-size: 35px;
    font-family: "SODO Sans", sans-serif, Arial, Helvetica;
    margin-bottom: 30px;
}

#Inicia-Sesion-button
{
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    width: 7vw;
    height: 4vh;
    margin-right: 50px;
    border-radius: 50px;
    border-color: white;
}

#Inicia-Sesion-link
{
    color: white;
}

#Inicia-Sesion-button:hover
{
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    width: 7vw;
    height: 4vh;
    margin-right: 50px;
    border-radius: 50px;
    border-color: rgba(120, 203, 120, 0.679);
}

#Inicia-Sesion-link:hover
{
    color: rgba(120, 203, 120, 0.679);
}

#Unete-button
{
    background-color: white;
    width: 7vw;
    height: 4vh;
    margin: auto;
    border-radius: 50px;
    border-color: white;
}

#Unete-link
{
    color: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
}

#Unete-link:hover
{
    color: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
}

#Left-Hand{
    width: 250px;
    margin-left: 400px;
}

#Title-2{
    font-size: 19px;
}

.container-IMG-1-G{
    width: calc(100vw - 30vw);
    justify-content: center;
    background-color: rgb(241, 240, 235);
    padding-bottom: 40px;
    font-weight: 600;
    color: black;
}

.container-IMG-1-G p{
    font-weight: 600;
}

#Valor-TD{
    width: 400px;
}

#Valor-CASH{
    width: 400px;
}

.container-IMG-1-W{
    width: calc(100vw - 30vw);
    justify-content: center;
    padding-bottom: 40px;
    font-weight: 600;
    color: black;
}

#Title-5{
    font-size: 19px;
    font-weight: 400;
    margin-top: -20px;
}

.Paso-1, .Paso-2, .Paso-3{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.IMG-1-W{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
}

.Paso-1 img, .Paso-3 img{
    width: 120px;
    margin-left: -10px;
}

.Paso-2 img{
    width: 250px;
    margin-left: 10px;
}

.Pasos p{
    font-weight: 500;
    font-size: 15px;
}

.Pasos-IMG img{
    width: 250px;
    margin-left: 40px;
    margin-top: 120px;
}

#Uno, #Tres, #Dos{
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    color: white;
    width: 2vw;
    height: 4vh;
    margin-left: 150px;
    text-align: center;
}

.container-Video{
    width: calc(100vw - 40vw);
}

iframe{
    width: calc(100vw - 43vw);
    height: calc(100vh - 43vh);;
    margin-left: -120px;
}

.container-IMG-1-G-2{
    width: calc(100vw - 30vw);
    justify-content: center;
    background-color: rgb(241, 240, 235);
    padding-bottom: 40px;
    font-weight: 600;
    margin-top: -10px;
    color: black;
}

#Star{
    width: 50px;
    height: 40px;
    margin-right: -20px;
}

#Star0{
    width: 35px;
    height: 25px;
    margin-right: -20px;
}

.container-IMG-1-G-2 img{
    width: 70px;
    height: 120px;
    padding-bottom: 0px;
}

.IMG-1-G-2, .IMG-1-G-2-G{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin: 0px 200px;
    text-align: left;
}

.IMG-1-G-2-G img{
    width: 350px;
    height: auto;
}

#Title-6{
    font-size: 18px;
}

#Title-7{
    font-size: 17px;
    text-align: left;
}

.SB-Card{
    display: flex;
    flex-direction: column;
}

#Sub-7{
    font-size: 15px;
    font-weight: 500;
    margin-top: -10px;
    text-align: left;
}

.container-IMG-1-W-3{
    width: calc(100vw - 30vw);
    justify-content: center;
    background-color: white;
    padding-bottom: 40px;
    font-weight: 600;
    color: black;
}

#Benef{
    width: 300px;
    margin-bottom: 10px;
}

#Pan{
    width: 250px;
}

.IMG-1-W-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 300px;
    margin-bottom: 20px;
}

.container-IMG-1-G-3{
    width: calc(100vw - 30vw);
    justify-content: left;
    background-color: rgb(241, 240, 235);
    padding-bottom: 60px;
    font-weight: 600;
    margin-top: -10px;
    color: black;
}

#Question{
    width: 350px;
    margin-top: 40px;
    margin-left: -40px;
}

.Conoce-mas{
    text-align: left;
    justify-content: left;
    margin-left: -150px;
    margin-top: 40px;
}

#Sub-7-G{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.Conoce-mas a{
    font-weight: 400;
    text-decoration:underline;
    color: #03482a;
}

.Conoce-mas a:hover{
    font-weight: 400;
    text-decoration:underline;
    text-decoration-color: white;
    color: #03482a;
}

#SB-RW-Logo{
    width: 450px;
}

@media (max-width: 600px) {
    
    body{
        max-width: 600px;
        width: 100%;
    }
    
    .navbar, .header{
        width: 100%;
        padding-left: 0vw;
    }
    
    .container{
        display: flex;
        flex: column;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .tienda-acceso, #Recomplink, #text-right{
        display: none;
    }

    .Avisos{
        flex-wrap: wrap;
    }

    .Avisos p{
        margin: 0 2vw;
    }

    .container3 ul{
        display: none;
    }

    .container3, .linea-horizontal{
        width: 100%;
    }

    .container img{
        width: 100%;
    }

    .container2{
        display: flex;
        flex: column;
        width: 100%;
        flex-wrap: wrap; 
    }

    #sub-container1{
        width: 100%;
        margin-bottom:30px;
        height: auto;
    }

    #sub-container1 img{
        width: 100%;
    }

    #sub-container2{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #sub-container2 img{
        width: 100%;
    }
}